electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
msvs_version=2022
node_gyp_force_vcvarsall=true
visual_studio_path=C:\Program Files (x86)\Microsoft Visual Studio\2022\BuildTools